<div class="mt-5" *ngIf='mode'>
  <div class="card shadow">
    <div class="card-header">
      <h1 class="text-center">{{FormTitle}}</h1>
    </div>
    <div class="card-body">
      <form #postForm="ngForm" (ngSubmit)="addPost(postForm);">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="title"
            placeholder="Post Title"
            [(ngModel)]="post.title"
            #title="ngModel"
            required
            [ngClass]="{
              'is-valid': title.valid && title.touched,
              'is-invalid': !title.valid && title.touched
            }"/>
          <small  class="text-danger"
                  *ngIf="title.errors?.required && title.touched">
            Post Title is required
          </small>
        </div>
        <div class="form-group">
          <textarea rows="6"
                    class="form-control"
                    name="body"
                    [(ngModel)]="post.body"
                    #body="ngModel"
                    minlength="25"
                    required
                    [ngClass]="{
                      'is-valid': body.valid && body.touched,
                      'is-invalid': !body.valid && body.touched
                    }">
          </textarea>
          <small class="text-danger text-right"
            *ngIf="body.errors?.required && body.touched">
            Post Body is required
          </small>
          <small class="text-danger"
            *ngIf="body.errors?.minlength && body.touched">
            Post Title Min 25 Characters
          </small>
        </div>
        <div class="text-center">
          <button type="submit"
                  class="btn"
                  [ngClass]="(mode=='add')?'btn-primary':'btn-warning'"
                  [disabled]="!postForm.valid">
              {{btnLable}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


